<div class="container mt-5">
      <header><h1 class="display-1">About Me</h1></header>
      <div class="border shadow p-4">
            <h2 class="display-6">Full Name: Jai Patel</h2>
            <img src="Assets/images/Jai Patel Passport Size Photo.jpg" class="img-thumbnail" id="me" alt="...">
            <h2 class="display-6">Occupation: Student</h2>
            <h2 class="display-6">Address: Mississauga, Ontario </h2>
            <h2 class="display-6">Date of Birth: January 19th, 1999 (Age 22)</h2>
      </div>
      <h1 class="display-4 mt-4">Brief Introduction</h1>
      <p class="fs-5">
           I am Jai Patel. 
           I have completed my Bachelors in Technology from SRM University in India,
            currently studying Software Engineering Technology (Advanced Graduate) from 
            Centennial College, Toronto, Canada. In two years, 
            I hope to have good knowledge of the software industry 
            and would also like to work for a big conglomerate for sure.
      </p>
      <h1 class="display-4 mt-4">Resume</h1>
      <a href="/Assets/docs/Jai's Resume Type 2.pdf" class="fs-4 text-decoration-underline">Jai Patel's Resume (PDF Format)</a>
</div>