<div class="container mt-5">
      <header><h1 class="display-2">Projects in Development</h1></header>
      <section>
            <h2 class="display-6 mt-5">1) Gas Pipeline Project (Training and Internship)</h2>
            <img src="Assets/images/Gas Pipeline Project.jpg" class="round w-75 d-block mt-3">
            <h3 class="display-6 mt-2">Description:</h3>
            <p class="fs-4">
                  Worked on a specific Gas Pipeline Project in India as Training and Internship Project. Major role was to learn specific tools
                  like Auto-CAD and work on a Pipeline/Plant design management system. Completed this four weeks Training and Internship with Tractebel Engineering 
                  Private Limited.  
            </p>
            <h3 class="display-6 mt-2">Completion Date: 2019</h3>
            <h3 class="display-6 mt-2">Role: Auto-CAD Engineer</h3>
      </section>
      <hr class="mt-5">
      <section>
            <h2 class="display-6 mt-5">2)Lung Cancer Detection using Matlab Image Processing (Bachelor's Major Project).</h2>
            <img src="Assets/images/Lung Cancer Detection.jpg" class="round w-75 d-block mt-3 border border-3">
            <h3 class="display-6 mt-2">Description:</h3>
            <p class="fs-4">
                This was completed as a major project to complete my bachelors degree
                The project was to complete a software which is using Computed tomography images (CT scans)
                to find malignant and other types of lung cancer. The process was to implement MATLAB image processing
                to identify the nodes in the lungs. 
                <br><br>
                Various image enhancement techniques were used to improve the quality of the images to better
                identify and analyze the lung malignant growth.The undertaking in itself is to investigate picture 
                division calculation for clinical pictures to clarify the doctor's understanding of tomography (CT).
                Present day clinical imaging models produce a bulk of CT picture that are extremely dreary
                to break down physically.Image processing techniques are widely used in a few clinical areas for image
                enhancement and medical treatment, where the clock is a sensitive way to detect
                differences in given data such as images, especially in developing malignant tumors
                for example, lung disease, tumors growth, and so on. 
                <br><br>The goal was to help both the patients and doctors to find out the cancer as soon as possible with least
                possible physical identification. It is beneficial for patients as they can get treatment as soon as possible also 
                doctors can easily find the result and help the patient treat the cancer immediately.  
            </p>
            <h3 class="display-6 mt-2">Completion Date: 2020</h3>
            <h3 class="display-6 mt-2">Role: Software Developer</h3>
      </section>
      <hr class="mt-5">
      <section>
            <h2 class="display-6 mt-5">3) Gun Control Inc&trade; </h2>
            <img src="Assets/images/Gun Control.png" class="round w-75 d-block mt-3 border border-3">
            <h3 class="display-6 mt-2">Description:</h3>
            <p class="fs-4">
                Without doubt, the issue of firearms control is a global issue. The left wants to get rid of guns all together 
                without questions. The right wants the gun law to remain the same regardless of what has been in the past. 
                We believe in the 2nd Amendment of the constitution, but we also want everyone to be safe and to respect the law. 
                <br><br>The mobile/desktop application, Gun Control, solves this problem. We will coordinate every gun owner in the US to 
                make sure that they use their guns responsibly. Every month, the firearms owner has to submit a video/picture of 
                the serial number of their weapon and their ammunition consumptions. The Gun Control Inc. will work closely with 
                every form of government to counter the gun crisis in the world. Any gun owner who fails to provide a valid serial 
                number or is in suspicion of gun mishandling will be reported to the authority for the safety of the public. 
               
            </p>
            <h3 class="display-6 mt-2">Estimated Release Date: 2022</h3>
            <h3 class="display-6 mt-2">Role: Stack Developer</h3>
      </section>
</div>